@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css starts*/

.hero-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  color: #fff;
  width: auto;
  margin-top: 20px;
  align-self: center;
  background: linear-gradient(93.05deg, #255cff 9.56%, #d51aff 98.73%);
  box-shadow: 0px 1px 2px 1px rgba(0, 27, 63, 0.05);
  border-radius: 50px;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.carousel-container {
  transition: transform 0.5s ease;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {  
  display:block;
  opacity: 1;
}

.carousel-item:not(.active) {
  display:none;
  opacity: 0;
}

.carousel img {
  width: 100%;
  height: auto;
}

.radio-buttons input[type="radio"] {
  display: none;
}

.radio-buttons label {
  display: inline-flex;
  width: 120px;
  height: 120px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 20px;
}

.radio-buttons input[type="radio"]:checked + label {
  rect {
    fill: #001b3f;
    box-shadow: 5px 5px 50px 1px rgba(157, 182, 255, 0.5);
  }
  path {
    fill: #d7e2ff;
  }

  span {
    font-size: large;
    color: #001b3f;
  }
}



.radio-buttons-container{
  overflow-x:auto;
  scrollbar-width: none;
  
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.radio-buttons-container::-webkit-scrollbar {
  display: none;
}

/* Customize scrollbar color for Chrome, Safari, and Edge */
.radio-buttons-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Customize thumb color */
  border-radius: 0px; /* Round the scrollbar thumb */
}

/* Customize scrollbar track color for Chrome, Safari, and Edge */
.radio-buttons-container::-webkit-scrollbar-track {
  background-color: transparent; /* Customize track color */
}




.draggable-container{
  cursor:grab;
  user-select: none;
}





@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider-item {
  padding-top:20px;
  animation: slide 25s linear infinite;
}


.footer-subscription:focus-visible {
  outline: none;
}

/*dashboard buyerview*/
.menu-button:hover svg path  {
  fill:#001b3f;
}

.menu-button.active{
 background-color:#294677 ;
}

.btn-group:focus svg path{
  fill:#001b3f;

}


.btn-group:focus svg circle{
  fill:#001b3f;

}

.checkbox{
  background-color: #D7E2FF !important;
}

.filter-panel button.active{
  background-color:#001b3f;
  border-radius:100%;
  transition: background-color 0.3s ease;
}


.filter-panel  button.active svg{
  fill:#fff;
}


.view-options button.active{
  background-color:#001b3f;
  transition: background-color 0.3s ease;
  color:#fff;
}

.msg-btn:focus span, .msg-btn:hover span , .msg-btn:focus-visible  span, .msg-btn:focus-within span{
  color:#001B3F;
}


.msg-btn:focus .notification, .msg-btn:hover .notification, .msg-btn:focus-visible .notification, 
.msg-btn:focus-within .notification{

color:#fff;

}